.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #add8e6;
}

.logo-text {
  text-align: center;
}

.jumbotron {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

td {
  font-size: 2em;
}
